/* Global variables
------------------------------------------------------- */

/* Tools
------------------------------------------------------- */

// ----------- styles/tools.mixins

/* Generic
------------------------------------------------------- */

// ----------- styles/generic.normalize
// ----------- styles/generic.box-sizing

/* Base
------------------------------------------------------- */

// ----------- styles/base
// ----------- styles/base.page
// ----------- styles/base.images
// ----------- styles/base.links
// ----------- styles/base.type

/* Modules
------------------------------------------------------- */

// ----------- styles/modules.buttons
// ----------- styles/modules.form-hack
// ----------- styles/modules.tables
// ----------- styles/modules.layout
// ----------- styles/modules.nav
// ----------- styles/vendor/hamburgers/hamburgers

// override some button settings that effect the menu button
.navmobile-trigger button {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  background: transparent;
}

/*
.hamburger-label {
  color: $base-text-color;
  vertical-align: top;
  font-size: 1.25rem;
  margin-right: 10px;
}
*/

/* Theme
------------------------------------------------------- */

// ----------- theme

/* Media
------------------------------------------------------- */

// ----------- responsive
// ----------- styles/media.print

/* ---------------------- header */

/* 
Force the z-index on the header content, 
so the menus are always on top.
( This should be placed in _trump.zindex.scss )
*/
.header, 
.header * { 
  z-index: 999 !important; 
}

.header {
  //margin-bottom: 2rem;
}

.logo--header {}

/* ----------- navmain */

.navmain {}
.navmain__links {} /* the ul */
.navmain__links li {}
.navmain__links a {}

/* ----------- /navmain */

/* ---------------------- /header */

// ----------- Footer

.footer {}
